body {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    background-color: #E6E7E8;
}

div {
    max-width: 100%;
    min-height: 0%;
    max-height: 80%;
}

#main {
    min-height: 700px;
    max-height: 100%;
    min-width: 0%;
    max-width: 100%;
}

footer {
    height: 120px;
    width: 100%;

}

#navigationBarList {
    position: absolute;
    width: 1500px;
    height: 70px;
    margin-left: 200px;
    margin-top: 5.5%;
}

#his {
    position: absolute;
    margin: 100px;
    margin-left: 350px;
    font-size: 45px;
}

#aboutme {
    position: absolute;
    margin-left: 800px;
    font-family: 'Calibri';
    font-size: 50px;
    max-width: 800px;
    background-color: #688583;
    padding: 20px;
    border-radius: 1px;
    color: black; /* Set the text color to black */
}

#toplefttxt {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    max-width: 300px;

}

#txtbox {
    position: absolute;
    top: 100px;
    left: 600px;
    margin: 150px;
    padding: 50px;
    background-color: #808080;
    border-radius: 4px;
    width: 390px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Calibri', serif;

}

#topleft {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    width: 250px;
    height: 350px;
}

#botleft {
    position: absolute;
    margin-left: 100px;
    margin-top: 250px;
    width: 250px;
    height: 350px;
}

#botmid {
    position: absolute;
    margin-left: 350px;
    margin-top: 300px;
    width: 400px;
    height: 241px;
}

#botright {
    position: absolute;
    margin-left: 700px;
    margin-top: 250px;
    width: 250px;
    height: 350px;
}

#topright {
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    width: 250px;
    height: 350px;
}


  

#navigationBarList ul {
    margin-left: 800px;
    margin-top: -135px;
    position: absolute;
    z-index: 999;

}

#navigationBarList li {
    display: inline;
    margin-left: 10px;
    font-weight: 10000;
    font-family: 'Calibri';
    text-align: right;
}

#navigationBarList li a {
    color: #000000;
    font-size: 15px;
}



#mainMid {
    height: 80%;
    width: 100%;
    margin: 40px 70px 0px 70px;
}